* {
  box-sizing: border-box;
}
#app {
  font-family: "Noto Sans TC", sans-serif;
  width: 100%;
  margin: auto;
  // @media (max-width: 425px) {
  //   padding: 0 20px;
  // }
}
html,
body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  @media (max-width: 425px) {
    font-size: 16px;
  }
}
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}
.page {
  max-width: 1140px;
  width: 100%;
  margin: 48px auto 0;
}
img {
  width: 100%;
}
nav {
  padding: 15px 30px;
  margin-bottom: 40px;
  position: relative;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  @media (max-width: 425px) {
    padding: 70px 0 40px 0;
  }

  .navLeft {
    display: flex;
    align-items: center;
    position: relative;

    .weather {
      font-size: 16px;
      padding-right: 100px;

      @media (max-width: 425px) {
        font-size: 14px;
      }

      &-info {
        @media (max-width: 768px) {
          display: flex;
          p {
            &:nth-child(1) {
              padding-right: 10px;
            }
          }
        }
      }
    }
    .link {
      // text-align: center;
      display: flex;
      gap: 40px;
      @media (max-width: 425px) {
        font-size: 30px;
      }
  
      .tag {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        p {
          font-size: 16px;
        }
      }
  
      .el-icon {
        font-size: 24px;
        background-color: #8b8075;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        // &:focus {
        //   background-color: #69441e;
        // }
      }
      .router-link-exact-active .el-icon {
        color: #555;
        background-color: #f2ea9f;
      }
      .router-link-exact-active p {
        color: #f2ea9f;
      }
    }

  }
  
  .login {
    position: absolute;
    bottom: -200px;
    right: 20px;
    background-color: white;
    border: 1px #555 solid;
    border-radius: 10px;
    padding: 20px 10px;
    width: 300px;

    > div {
      > span {
        color: red;
        font-size: 14px;
        display: block;
        padding-bottom: 10px;
      }
  
      .account,
      .password {
        display: flex;
        padding-bottom: 10px;
        > p {
          color: black;
        }
  
        .el-input {
          width: 80%;
        }
      }
  
      > button {
        width: 100%;
        padding: 5px 0;
        color: white;
        background-color: #bfafa0;
        border: 1px #bfafa0 solid;
        border-radius: 3px;
        cursor: pointer;
        transition: .3s;
  
        &:hover {
          color: #333;
          background-color: #f2ea9f;
          border: 1px #f2ea9f solid;
        }
  
        &:active {
          border: 1px #bfafa0 solid;
        }
      }
    }

  }

  .navRight {
    display: flex;
    align-items: center;
    .el-icon {
      cursor: pointer;
    }
  }

}
